<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="mongodb" connectionString="mongodb://127.0.0.1/PoGoMITM?maxPoolSize=1000&amp;minPoolSize=100"/>
  </connectionStrings>
  <appSettings>
    <add key="BindIP" value="0.0.0.0"/>
    <add key="BindPort" value="61221"/>
    <add key="RootCertificateName" value="POGO Proxy.Net CA"/>
    <add key="RootCertificateIssuer" value="POGO Proxy"/>
    <add key="LogsFolder" value="Logs"/>
    <add key="TempFolder" value="Temp"/>
    <add key="Loggers" value="FileLogger,MongoLogger"/>
    <add key="HostsToLog" value="sso.pokemon.com,pgorelease.nianticlabs.com"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>