<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.8" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.0.0" targetFramework="net452" />
  <package id="Google.Protobuf.Tools" version="3.0.0" targetFramework="net452" />
  <package id="log4net" version="2.0.5" targetFramework="net452" />
  <package id="MongoDB.Bson" version="2.3.0-beta1" targetFramework="net452" />
  <package id="MongoDB.Driver" version="2.3.0-beta1" targetFramework="net452" />
  <package id="MongoDB.Driver.Core" version="2.3.0-beta1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="POGOProtos" version="1.7.0" targetFramework="net452" />
  <package id="Titanium.Web.Proxy" version="2.3000.186" targetFramework="net452" />
</packages>