<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="mongodb" connectionString="mongodb://127.0.0.1/PoGoMITM?maxPoolSize=1000&amp;minPoolSize=100" />
  </connectionStrings>
  <appSettings>
    <add key="ProxyIp" value="0.0.0.0" />
    <add key="ProxyPort" value="61221" />
    <add key="WebServerPort" value="61222" />
    <add key="RootCertificateName" value="PoGoMITM CA" />
    <add key="RootCertificateIssuer" value="PoGoMITM" />
    <add key="DumpsFolder" value="Dumps" />
    <add key="LogsFolder" value="Logs" />
    <add key="TempFolder" value="Temp" />
    <!-- Comma separated list of dumpers. Valid values are FileDumper,MongoDumper -->
    <add key="DataDumpers" value="MongoDumper" />
    <add key="DumpRaw" value="false" />
    <add key="DumpProcessesed" value="false" />
    <add key="HostsToDump" value="sso.pokemon.com,pgorelease.nianticlabs.com,bootstrap.upsight-api.com,batch.upsight-api.com" />
    <!-- Do not change the values below -->
    <add key="owin:HandleAllRequests" value="true" />
  <add key="webPages:Enabled" value="false" /></appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.web.webPages.razor>
    <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
      <namespaces>
        <add namespace="Nancy.ViewEngines.Razor" />
        <add namespace="PoGoMITM.Base.Models" />
      </namespaces>
    </pages>
  </system.web.webPages.razor></configuration>